# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment variables
.env
.env*.local
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
